*{
    overflow: auto;
}
body{
    font-family: 'Lato', sans-serif;
    background: rgba(50, 87, 65, 1);
    color: rgba(55, 97, 72, 1);
    box-sizing: border-box;
    
}
.container{
    background: rgba(92, 161, 119, 1);
    width: 60%;
    max-width: 800px;
    margin: 10px auto;
}
h1{
    font-family: 'Oswald',sans-serif;
    color: rgba(50, 87, 65, 1);
}

h2{
    font-family: 'Arimo', sans-serif;
    color: rgba(50, 87, 65, 1);
    
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

div {
    padding: 5px;
}

img {
    width: 80%;
    height: auto;
    display: block;
    margin: 15px auto;
}

body {
    font-family: verdana, sans-serif;
}

h1,
h3 {
    text-align: center;
}

header,
footer {
    background: white;
    min-height: 100px;
    padding: 20px;
    color: goldenrod;
}

nav {
    text-align: center;
}

a {
    padding: 10px 20px;
    border-radius: 20px;
    background: goldenrod;
    color: #ffffff;
    text-decoration: none;
    line-height: 3;
}

a:hover {
    background: #ffc107;
    color: black;
}

.container {
    max-width: 1260px;
    margin: 10px auto;
    border-radius: 10px;
}






img{
    padding: 10px;
    background: rgba(128, 224, 167, 1);
}





/*---responsive design---*/

.row {
            border: 3px solid goldenrod;
        }

        .row::after {
            content: "";
            clear: both;
            display: table;
        }

        [class*="col-"] {
            float: left;
            padding: 15px;
            border: 2px solid goldenrod;
        }

        @media only screen {

            /* For mobile phones: */
            [class*="col-"] {
                width: 100%;
            }
        }

        .row {
            border: 3px solid goldenrod;
        }

        .row::after {
            content: "";
            clear: both;
            display: table;
        }

        [class*="col-"] {
            float: left;
            padding: 15px;
            border: 3px solid goldenrod;
        }

        @media only screen {

            /* For tablets: */
            .col-m-1 {
                width: 8.33%;
            }

            .col-m-2 {
                width: 16.66%;
            }

            .col-m-3 {
                width: 25%;
            }

            .col-m-4 {
                width: 33.33%;
            }

            .col-m-5 {
                width: 41.66%;
            }

            .col-m-6 {
                width: 50%;
            }

            .col-m-7 {
                width: 58.33%;
            }

            .col-m-8 {
                width: 66.66%;
            }

            .col-m-9 {
                width: 75%;
            }

            .col-m-10 {
                width: 83.33%;
            }

            .col-m-11 {
                width: 91.66%;
            }

            .col-m-12 {
                width: 100%;
            }
        }

        @media only screen {

            /* For desktop: */
            .col-1 {
                width: 8.33%;
            }

            .col-2 {
                width: 16.66%;
            }

            .col-3 {
                width: 25%;
            }

            .col-4 {
                width: 33.33%;
            }

            .col-5 {
                width: 41.66%;
            }

            .col-6 {
                width: 50%;
            }

            .col-7 {
                width: 58.33%;
            }

            .col-8 {
                width: 66.66%;
            }

            .col-9 {
                width: 75%;
            }

            .col-10 {
                width: 83.33%;
            }

            .col-11 {
                width: 91.66%;
            }

            .col-12 {
                width: 100%;
            }
        }